.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.head {
  font-weight: 600;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  border-radius: 5px;
  background: #1a1a1a;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
  overflow-y: scroll;
}

.search,
.genres,
.prices,
.types {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prices {
  flex: 1 1 auto;
}

.genresBlock,
.pricesBlock,
.typesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  align-self: center;
  background: black;
  border-radius: 5px;
  &:hover {
    background: #8f00ff;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
}
