.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.head {
  font-weight: 600;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  border-radius: 5px;
  background: #1a1a1a;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1 1 auto;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.9);
}

.input::placeholder {
  color: #b3b3b3;
  font-size: 14px;
}

.input {
  caret-color: #6f6f6f;
  font-size: 14px;
}

.genres,
.prices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prices {
  flex: 1 1 auto;
}

.genresBlock,
.pricesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.button {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  align-self: center;
  background: black;
  border-radius: 5px;
  &:hover {
    background: #8f00ff;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
}
