.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.button {
  background: #1a1a1a;
  border-radius: 5px;
  padding: 10px;
  flex: 1 1 auto;
  border: 1px solid #6f6f6f;
  &:hover {
    background: #343434;
  }
}
